<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESFAM CRUZ MELO</title> <!-- Título de la pestaña -->
    
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'cesfam/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'cesfam/css/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/validationEngine.jquery.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/validationEngine.jquery.min.css" 
    integrity="sha512-fvBUZJJBrJrzrFYM/EN2isPokoNnx331y30ZXIxRRlop1aq6rT6d8oY6WJVsiXZoso0dIZ2nbQjtGLi6Kkxr/Q==" crossorigin="anonymous" />
    <script src="{% static 'cesfam/js/bootstrap.min.js' %}"></script>
    
  </head>


  <body>

    <nav class="navbar">
      <div class="container-fluid">
        <img src="{% static 'cesfam/img/logo_independencia.png' %}"class="d-inline-block align-text-top">
        <form class="d-flex" id="buscaForm">
          <input class="form-control me-2" type="search" placeholder="  " aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>  CESFAM Dr. Agustin Cruz Melo
      </div>
    </nav>
    
    <!-- Segundo navbar, menu -->

    <div class="container-row">
      <nav class="nav nav-pills flex-column flex-sm-row">
        {% if user.is_authenticated %}
        <a class="flex-sm-fill text-sm-center nav-link" href="#">{{ user.username }}</a>
        <li>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
        </li>
        {% else %}
        <li>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
        </li>
        {% endif %}
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'home' %}">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'farmacia' %}">Farmacia</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'agregar_producto' %}">Agregar Medicamento</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'listar_producto' %}">Lista de Medicamentos</a>
      </nav>
    </div>

              <!-- Inicio del carrusel-->
<div id="contenido">

   {% block contenido %}
   {% endblock %}

</div>

   
  </body>
</html>
