<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CESFAM CRUZ MELO</title> <!-- Título de la pestaña -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/validationEngine.jquery.min.css"/>
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/jQuery-Validation-Engine/2.6.4/validationEngine.jquery.min.css" 
    integrity="sha512-fvBUZJJBrJrzrFYM/EN2isPokoNnx331y30ZXIxRRlop1aq6rT6d8oY6WJVsiXZoso0dIZ2nbQjtGLi6Kkxr/Q==" crossorigin="anonymous" />
    <script src="./js/bootstrap.min.js"></script>
    
  </head>


  <body>

    <nav class="navbar">
      <div class="container-fluid">
        <img src="./img/logo_independencia.png"class="d-inline-block align-text-top">
        <form class="d-flex" id="buscaForm">
          <input class="form-control me-2" type="search" placeholder="  " aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>  CESFAM Dr. Agustin Cruz Melo
      </div>
    </nav>
    
    <!-- Segundo navbar, menu -->

    <div class="container-row">
      <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link" href="login.html">Mi cuenta</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="index.html">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="farmacia.html">farmacia</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="vacunatorio.html">Vacunas</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="reserv_hora.html">Reservar hora</a>
      </nav>
    </div>

              <!-- Inicio del carrusel-->
<div class="container-fluid">
   <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./img/consultorio.png" class="d-block w-100" alt="consultorio">
      <div class="carousel-caption d-none d-md-block">
        <h2>Dirección</h2>
        <p>Av. Independencia 1325, Independencia, Región Metropolitana.</p>
      </div>
    </div>
    <!--como llegar-->
    <div class="carousel-item">
      <img src="./img/mapa.png" class="d-block w-100" alt="mapa">
      <div class="carousel-caption d-none d-md-block">
        <a href="ubicacion.html"> ¿Como llegar?</a>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./img/horarioatencion.png" class="d-block w-100" alt="horarioatencion">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>



   
  </body>
</html>
