{% extends 'cesfam/base.html'%}

{% block contenido %}

<br>
<br>
<div class="card">
    <div class="card-body">
        <h2>Listado de medicos</h2>
        <hr>
        <table class="table table-striped table-hover table-responsive">
            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Especialidad</th>
                <th>Genero</th>
                <th>Opción</th>
            </tr>

        {% for m in medicos %}
            <tr>
                <td>{{ m.rut }}</td>
                <td>{{ m.nombre }}</td>
                <td>{{ m.appaterno }}</td>
                <td>{{ m.apmaterno }}</td>
                <td>{{ m.especialidad }}</td>
                <td>{{ m.genero }}</td>
                <td>
                    <a href="{% url 'editar_medico' m.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar_medico' m.pk %}" class="btn btn-warning btn-sm">Eliminar</a>
                </td>
            </tr>

        {% endfor %}
        </table>
    </div>
</div>



{% endblock %}